{
  "openapi": "3.1.0",
  "info": {
    "title": "Speko API",
    "version": "1.0.0",
    "description": "Public REST API for the Speko voice gateway. Routes, transcribes, synthesizes, and completes via the highest-scoring provider for your routing intent, with transparent server-side failover.",
    "contact": {
      "email": "abat@speko.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.speko.dev",
      "description": "Production"
    },
    {
      "url": "https://api.speko.ai",
      "description": "Production (alias)"
    },
    {
      "url": "https://api-staging.speko.dev",
      "description": "Staging"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/sessions": {
      "post": {
        "summary": "Create a real-time voice session",
        "description": "Mints a LiveKit access token, persists the pipeline config, and dispatches an agent worker into the room. Use the returned `conversationToken` and `livekitUrl` with `@spekoai/client` to join the room from a browser.",
        "operationId": "createSession",
        "tags": [
          "Voice"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSessionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSessionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/SessionCreateFailed"
          }
        }
      },
      "get": {
        "summary": "List voice sessions",
        "description": "Returns sessions visible to the calling key, newest first. Supports cursor pagination and filtering by `status`, `kind`, and `agent`. All filters combine via AND.",
        "operationId": "listSessions",
        "tags": [
          "Voice"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Opaque cursor returned by a prior call. Omit on the first page."
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Max number of entries to return."
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by session lifecycle status (e.g. `active`, `ended`, `failed`)."
          },
          {
            "in": "query",
            "name": "kind",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by session kind."
          },
          {
            "in": "query",
            "name": "agent",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter to sessions started against this agent. Matches sessions whose `pipelineConfig.agentId` equals this value. Combines with other filters via AND."
          }
        ],
        "responses": {
          "200": {
            "description": "Page of session entries.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionEntries"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/transcribe": {
      "post": {
        "summary": "Transcribe audio (speech to text)",
        "description": "Routes the request to the best STT provider for your `(language, optimizeFor)` intent, with automatic failover to runner-up providers. Body is binary audio. Routing intent goes in the `x-speko-intent` header (JSON).",
        "operationId": "transcribe",
        "tags": [
          "Voice"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-speko-intent",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "JSON-encoded `RoutingIntent`. Example: `{\"language\":\"en-US\"}`."
          },
          {
            "in": "header",
            "name": "x-speko-constraints",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional JSON-encoded `PipelineConstraints`. Each `allowedProviders` entry is either `\"<vendor>\"` (any model from that vendor) or `\"<vendor>:<model>\"` (a specific model). Example: `{\"allowedProviders\":{\"stt\":[\"deepgram:nova-3\"]}}`."
          },
          {
            "in": "header",
            "name": "Content-Type",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Audio MIME type, e.g. `audio/wav`, `audio/mpeg`, `audio/pcm;rate=16000`."
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Binary audio. WAV, MP3, or raw PCM accepted.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "audio/wav": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "audio/mpeg": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transcript",
            "headers": {
              "X-Speko-Provider": {
                "schema": {
                  "type": "string"
                },
                "description": "Provider that actually handled the request."
              },
              "X-Speko-Model": {
                "schema": {
                  "type": "string"
                },
                "description": "Specific model used."
              },
              "X-Speko-Failover-Count": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of providers tried before success."
              },
              "X-Speko-Scores-Run-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Benchmark snapshot id used for routing."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscribeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidAudio"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/TranscribeFailed"
          }
        }
      }
    },
    "/v1/synthesize": {
      "post": {
        "summary": "Synthesize speech (text to speech)",
        "description": "Routes the request to the best TTS provider for your intent, with automatic failover. Returns binary audio. The `Content-Type` header (mirrored in `X-Speko-Audio-Format`) tells you the format.",
        "operationId": "synthesize",
        "tags": [
          "Voice"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SynthesizeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audio bytes",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "description": "Audio MIME type, e.g. `audio/pcm;rate=24000` or `audio/mpeg`."
              },
              "X-Speko-Audio-Format": {
                "schema": {
                  "type": "string"
                },
                "description": "Mirrors `Content-Type` for client-side dispatch."
              },
              "X-Speko-Provider": {
                "schema": {
                  "type": "string"
                },
                "description": "Provider that actually handled the request."
              },
              "X-Speko-Model": {
                "schema": {
                  "type": "string"
                },
                "description": "Specific model used."
              },
              "X-Speko-Failover-Count": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of providers tried before success."
              },
              "X-Speko-Scores-Run-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Benchmark snapshot id used for routing."
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/SynthesizeFailed"
          }
        }
      }
    },
    "/v1/complete": {
      "post": {
        "summary": "Generate an LLM completion",
        "description": "Single-turn LLM call routed to the best provider for your intent, with automatic failover. Returns assistant text + token usage.",
        "operationId": "complete",
        "tags": [
          "Voice"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Completion",
            "headers": {
              "X-Speko-Provider": {
                "schema": {
                  "type": "string"
                },
                "description": "Provider that actually handled the request."
              },
              "X-Speko-Model": {
                "schema": {
                  "type": "string"
                },
                "description": "Specific model used."
              },
              "X-Speko-Failover-Count": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of providers tried before success."
              },
              "X-Speko-Scores-Run-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Benchmark snapshot id used for routing."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompleteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/CompleteFailed"
          }
        }
      }
    },
    "/v1/agents": {
      "get": {
        "summary": "List agents",
        "description": "Returns every agent belonging to the authenticated organization, including the seed `Default` agent. Agents are scoped per-org — IDs from another org will never appear here.",
        "operationId": "listAgents",
        "tags": [
          "Agents"
        ],
        "responses": {
          "200": {
            "description": "Agents owned by the authenticated organization.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agent"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Create an agent",
        "description": "Persists a reusable voice persona — `systemPrompt`, optional `voice`, routing `intent`, and optional `llmOptions` — keyed by `name` within the authenticated organization. Pass the returned `id` as `agentId` on `POST /v1/sessions` to seed a session from this agent.",
        "operationId": "createAgent",
        "tags": [
          "Agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/AgentNameConflict"
          }
        }
      }
    },
    "/v1/agents/{id}": {
      "get": {
        "summary": "Get an agent",
        "description": "Fetch a single agent by id. Scoped to the authenticated organization — agents owned by another org always return 404.",
        "operationId": "getAgent",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent id, prefixed `agent_`."
          }
        ],
        "responses": {
          "200": {
            "description": "Agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/AgentNotFound"
          }
        }
      },
      "patch": {
        "summary": "Update an agent",
        "description": "Partial update — every field on the body is optional and only supplied keys are written. The seed `Default` agent's `name` cannot be changed; other fields can. Updating `name` to one already used by another agent in the org returns 409.",
        "operationId": "updateAgent",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent id, prefixed `agent_`."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/AgentNotFound"
          },
          "409": {
            "$ref": "#/components/responses/AgentNameConflict"
          }
        }
      },
      "delete": {
        "summary": "Delete an agent",
        "description": "Removes the agent and FK-cascades to any registered tools. The seed `Default` agent for an organization cannot be deleted and returns 400.",
        "operationId": "deleteAgent",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent id, prefixed `agent_`."
          }
        ],
        "responses": {
          "200": {
            "description": "Agent deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "deleted"
                  ],
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/AgentDeleteForbidden"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/AgentNotFound"
          }
        }
      }
    },
    "/v1/providers/known": {
      "get": {
        "summary": "List known providers",
        "description": "Returns every (vendor, model) pair the router knows about per pipeline layer, plus one vendor-wildcard row per vendor. The `id` field on each entry is the verbatim string callers put into `allowedProviders` on session create, transcribe, synthesize, complete, or `stackPreferences` on an agent. Use this to populate UI pickers or validate user-supplied allowlists.",
        "operationId": "getKnownProviders",
        "tags": [
          "Providers"
        ],
        "responses": {
          "200": {
            "description": "Per-modality lists of allowlist-eligible entries.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnownProviders"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API key (sk_live_...)"
      }
    },
    "schemas": {
      "RoutingIntent": {
        "type": "object",
        "required": [
          "language"
        ],
        "properties": {
          "language": {
            "type": "string",
            "pattern": "^[a-z]{2}(-[A-Z]{2})?$",
            "description": "BCP-47 language tag, e.g. `en`, `en-US`, `es-MX`.",
            "examples": [
              "en-US"
            ]
          },
          "region": {
            "type": "string",
            "enum": [
              "global",
              "us-east4",
              "europe-west3",
              "asia-southeast1"
            ],
            "default": "global",
            "description": "Region whose streaming-latency measurements should be used. `global` falls through to batch-mode rows when no per-region data matches."
          },
          "optimizeFor": {
            "type": "string",
            "enum": [
              "balanced",
              "accuracy",
              "latency",
              "cost"
            ],
            "default": "balanced"
          }
        }
      },
      "PipelineConstraints": {
        "type": "object",
        "properties": {
          "allowedProviders": {
            "type": "object",
            "description": "Restrict candidate pool per modality. Router still ranks by score. Each entry is either `\"<vendor>\"` (vendor wildcard — allow any model from that vendor) or `\"<vendor>:<model>\"` (allow only that specific model). Failover stays active across all entries in the layer.",
            "properties": {
              "stt": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "Allowed STT provider entry. Either a vendor id (e.g. `\"deepgram\"` — any Deepgram model) or `\"<vendor>:<model>\"` (e.g. `\"deepgram:nova-3\"` — only Nova-3, no fallback to other Deepgram models within the vendor). Both forms can be mixed in the same array.",
                  "examples": [
                    "deepgram",
                    "deepgram:nova-3",
                    "assemblyai"
                  ]
                }
              },
              "llm": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "Allowed LLM provider entry. Either a vendor id (e.g. `\"openai\"` — any OpenAI model) or `\"<vendor>:<model>\"` (e.g. `\"openai:gpt-5\"` — only that model). Both forms can be mixed in the same array.",
                  "examples": [
                    "openai",
                    "openai:gpt-5",
                    "anthropic"
                  ]
                }
              },
              "tts": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "Allowed TTS provider entry. Either a vendor id (e.g. `\"elevenlabs\"` — any ElevenLabs model) or `\"<vendor>:<model>\"` (e.g. `\"elevenlabs:eleven_flash_v2_5\"` — only that model). Both forms can be mixed in the same array.",
                  "examples": [
                    "elevenlabs",
                    "elevenlabs:eleven_flash_v2_5",
                    "cartesia"
                  ]
                }
              },
              "s2s": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "Allowed S2S provider entry. Either a vendor id (e.g. `\"openai\"` — any OpenAI realtime model) or `\"<vendor>:<model>\"` (e.g. `\"openai:gpt-realtime\"` — only that model). Both forms can be mixed in the same array.",
                  "examples": [
                    "openai",
                    "openai:gpt-realtime"
                  ]
                }
              }
            }
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant"
            ]
          },
          "content": {
            "type": "string"
          }
        }
      },
      "CreateSessionRequest": {
        "type": "object",
        "description": "Cascade-mode session creation body. Exactly one of `agentId` or `intent` must be supplied. When `agentId` is given, the persisted agent's `systemPrompt`, `voice`, `intent`, and `llmOptions` seed the session as defaults; any per-call field on this body still overrides the agent's stored value.",
        "properties": {
          "agentId": {
            "type": "string",
            "description": "Optional pointer to a persisted `agent` row whose fields seed this session. When supplied, the agent's `systemPrompt`, `voice`, `intent`, and `llmOptions` become defaults; any per-call field on this body overrides the agent's stored value. When absent, `intent` is required."
          },
          "intent": {
            "$ref": "#/components/schemas/RoutingIntent"
          },
          "constraints": {
            "$ref": "#/components/schemas/PipelineConstraints"
          },
          "voice": {
            "type": "string",
            "description": "Force a specific TTS voice id."
          },
          "systemPrompt": {
            "type": "string",
            "description": "Initial agent instructions."
          },
          "llm": {
            "type": "object",
            "properties": {
              "temperature": {
                "type": "number",
                "minimum": 0,
                "maximum": 2
              },
              "maxTokens": {
                "type": "integer",
                "minimum": 1
              }
            }
          },
          "ttsOptions": {
            "type": "object",
            "properties": {
              "sampleRate": {
                "type": "integer",
                "minimum": 1
              },
              "speed": {
                "type": "number",
                "minimum": 0.5,
                "maximum": 2
              }
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Arbitrary key/value pairs stored on the session row."
          },
          "ttlSeconds": {
            "type": "integer",
            "default": 900,
            "minimum": 1,
            "maximum": 86400,
            "description": "Token TTL."
          },
          "identity": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "description": "LiveKit participant identity. Defaults to `user_<uuid>`."
          }
        }
      },
      "CreateSessionResponse": {
        "type": "object",
        "required": [
          "sessionId",
          "conversationToken",
          "livekitUrl",
          "roomName",
          "identity",
          "expiresAt"
        ],
        "properties": {
          "sessionId": {
            "type": "string",
            "format": "uuid"
          },
          "conversationToken": {
            "type": "string",
            "description": "LiveKit JWT for the browser to join the room."
          },
          "livekitUrl": {
            "type": "string",
            "format": "uri"
          },
          "roomName": {
            "type": "string",
            "examples": [
              "speko_..."
            ]
          },
          "identity": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TranscribeResponse": {
        "type": "object",
        "required": [
          "text",
          "provider",
          "model",
          "failoverCount"
        ],
        "properties": {
          "text": {
            "type": "string"
          },
          "provider": {
            "type": "string",
            "description": "Provider that actually ran (post-failover)."
          },
          "model": {
            "type": "string"
          },
          "confidence": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 1
          },
          "failoverCount": {
            "type": "integer",
            "minimum": 0
          },
          "scoresRunId": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "SynthesizeRequest": {
        "type": "object",
        "required": [
          "text",
          "intent"
        ],
        "properties": {
          "text": {
            "type": "string",
            "minLength": 1,
            "maxLength": 10000
          },
          "intent": {
            "$ref": "#/components/schemas/RoutingIntent"
          },
          "voice": {
            "type": "string",
            "description": "Provider-specific voice id. Speko falls back to a sane default per provider when omitted."
          },
          "speed": {
            "type": "number",
            "minimum": 0.5,
            "maximum": 2
          },
          "constraints": {
            "$ref": "#/components/schemas/PipelineConstraints"
          }
        }
      },
      "CompleteRequest": {
        "type": "object",
        "required": [
          "messages",
          "intent"
        ],
        "properties": {
          "messages": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          },
          "intent": {
            "$ref": "#/components/schemas/RoutingIntent"
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2
          },
          "maxTokens": {
            "type": "integer",
            "minimum": 1
          },
          "systemPrompt": {
            "type": "string",
            "description": "Forwarded via the canonical system-prompt slot. Don't *also* prepend the same content as a `system` message."
          },
          "constraints": {
            "$ref": "#/components/schemas/PipelineConstraints"
          }
        }
      },
      "CompleteResponse": {
        "type": "object",
        "required": [
          "text",
          "provider",
          "model",
          "usage",
          "failoverCount"
        ],
        "properties": {
          "text": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "usage": {
            "type": "object",
            "required": [
              "promptTokens",
              "completionTokens"
            ],
            "properties": {
              "promptTokens": {
                "type": "integer",
                "minimum": 0
              },
              "completionTokens": {
                "type": "integer",
                "minimum": 0
              }
            }
          },
          "failoverCount": {
            "type": "integer",
            "minimum": 0
          },
          "scoresRunId": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "AgentIntent": {
        "type": "object",
        "description": "Routing defaults stored on an agent row. Hydrated into a session's `RoutingIntent` when the session is created with `agentId` and no inline `intent`. Note: agents accept a smaller `optimizeFor` enum than the per-session `RoutingIntent`.",
        "required": [
          "language"
        ],
        "properties": {
          "language": {
            "type": "string",
            "minLength": 2,
            "description": "BCP-47 language tag, e.g. `en`, `en-US`, `es-MX`.",
            "examples": [
              "en-US"
            ]
          },
          "optimizeFor": {
            "type": "string",
            "enum": [
              "latency",
              "quality",
              "cost"
            ]
          }
        }
      },
      "AgentLlmOptions": {
        "type": "object",
        "description": "Optional LLM tuning defaults stored on an agent. Strict object — only these three keys are accepted.",
        "additionalProperties": false,
        "properties": {
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2
          },
          "maxTokens": {
            "type": "integer",
            "minimum": 1
          },
          "model": {
            "type": "string",
            "description": "Pin a specific LLM model id. When omitted, the router picks per intent."
          }
        }
      },
      "Agent": {
        "type": "object",
        "description": "Reusable voice persona — `systemPrompt` + optional `voice` + routing `intent` defaults, plus optional `llmOptions`. Pass the `id` as `agentId` on `POST /v1/sessions` to seed a session from this agent.",
        "required": [
          "id",
          "organizationId",
          "name",
          "systemPrompt",
          "voice",
          "intent",
          "llmOptions",
          "createdAt",
          "updatedAt",
          "stackPreferences"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Agent id, prefixed `agent_`.",
            "examples": [
              "agent_01HW..."
            ]
          },
          "organizationId": {
            "type": "string",
            "description": "Owning organization. Always equal to the authenticated org — agents are never visible across orgs."
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120,
            "description": "Human-readable name. Unique within an organization."
          },
          "systemPrompt": {
            "type": "string",
            "minLength": 1,
            "description": "Initial agent instructions. Hydrated as the session's `systemPrompt` default when no per-call value is supplied."
          },
          "voice": {
            "type": [
              "string",
              "null"
            ],
            "description": "Default TTS voice id. `null` when unset — the router picks a sane default per provider."
          },
          "intent": {
            "$ref": "#/components/schemas/AgentIntent"
          },
          "llmOptions": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/AgentLlmOptions"
              },
              {
                "type": "null"
              }
            ],
            "description": "Optional LLM tuning defaults. `null` when unset."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "stackPreferences": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/AgentStackPreferences"
              },
              {
                "type": "null"
              }
            ],
            "description": "Per-agent stack preferences. `null` when the agent has no preferences set."
          }
        }
      },
      "CreateAgentRequest": {
        "type": "object",
        "required": [
          "name",
          "systemPrompt",
          "intent"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120,
            "description": "Human-readable name. Must be unique within the organization — duplicates return 409."
          },
          "systemPrompt": {
            "type": "string",
            "minLength": 1,
            "description": "Initial agent instructions used as the session-level `systemPrompt` default."
          },
          "voice": {
            "type": "string",
            "description": "Default TTS voice id. Omit to let the router pick per provider."
          },
          "intent": {
            "$ref": "#/components/schemas/AgentIntent"
          },
          "llmOptions": {
            "$ref": "#/components/schemas/AgentLlmOptions"
          },
          "stackPreferences": {
            "$ref": "#/components/schemas/AgentStackPreferences"
          }
        }
      },
      "UpdateAgentRequest": {
        "type": "object",
        "description": "Partial update — every field is optional. Only supplied keys are written. The seed `Default` agent's `name` cannot be changed.",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120,
            "description": "Human-readable name. Must remain unique within the organization."
          },
          "systemPrompt": {
            "type": "string",
            "minLength": 1
          },
          "voice": {
            "type": "string"
          },
          "intent": {
            "$ref": "#/components/schemas/AgentIntent"
          },
          "llmOptions": {
            "$ref": "#/components/schemas/AgentLlmOptions"
          },
          "stackPreferences": {
            "$ref": "#/components/schemas/AgentStackPreferences"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error",
          "code"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable message."
          },
          "code": {
            "type": "string",
            "description": "Machine-readable code."
          }
        }
      },
      "AgentStackPreferences": {
        "type": "object",
        "description": "Per-agent stack preferences. Empty / missing layers leave the router unconstrained for that layer; failover stays active within the allowed set.",
        "additionalProperties": false,
        "properties": {
          "allowedProviders": {
            "type": "object",
            "description": "Per-pipeline-layer provider allowlists (e.g. STT must be Deepgram or AssemblyAI). Each entry is either `\"<vendor>\"` (vendor wildcard — allow any model from that vendor) or `\"<vendor>:<model>\"` (allow only that specific model). Failover stays active across all entries in the layer.",
            "additionalProperties": false,
            "properties": {
              "stt": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "Allowed STT provider entry. Either a vendor id (e.g. `\"deepgram\"` — any Deepgram model) or `\"<vendor>:<model>\"` (e.g. `\"deepgram:nova-3\"` — only Nova-3, no fallback to other Deepgram models within the vendor). Both forms can be mixed in the same array.",
                  "examples": [
                    "deepgram",
                    "deepgram:nova-3",
                    "assemblyai"
                  ]
                },
                "description": "Allowed STT provider entries. Empty / absent = no constraint."
              },
              "llm": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "Allowed LLM provider entry. Either a vendor id (e.g. `\"openai\"` — any OpenAI model) or `\"<vendor>:<model>\"` (e.g. `\"openai:gpt-5\"` — only that model). Both forms can be mixed in the same array.",
                  "examples": [
                    "openai",
                    "openai:gpt-5",
                    "anthropic"
                  ]
                },
                "description": "Allowed LLM provider entries. Empty / absent = no constraint."
              },
              "tts": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "Allowed TTS provider entry. Either a vendor id (e.g. `\"elevenlabs\"` — any ElevenLabs model) or `\"<vendor>:<model>\"` (e.g. `\"elevenlabs:eleven_flash_v2_5\"` — only that model). Both forms can be mixed in the same array.",
                  "examples": [
                    "elevenlabs",
                    "elevenlabs:eleven_flash_v2_5",
                    "cartesia"
                  ]
                },
                "description": "Allowed TTS provider entries. Empty / absent = no constraint."
              }
            }
          }
        }
      },
      "ProviderModelEntry": {
        "type": "object",
        "description": "A single allowlist-eligible entry returned by `/v1/providers/known`. The `id` is the verbatim string callers put into `allowedProviders` — either a vendor wildcard (`\"deepgram\"`) or a specific (vendor, model) pair (`\"deepgram:nova-3\"`).",
        "required": [
          "id",
          "vendor",
          "vendorName",
          "model",
          "benchmarked"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Verbatim string for `allowedProviders` entries. `\"<vendor>\"` for vendor-wildcard rows, `\"<vendor>:<model>\"` for model-specific rows.",
            "examples": [
              "deepgram",
              "deepgram:nova-3"
            ]
          },
          "vendor": {
            "type": "string",
            "description": "Lowercase vendor id.",
            "examples": [
              "deepgram"
            ]
          },
          "vendorName": {
            "type": "string",
            "description": "Human-readable vendor name.",
            "examples": [
              "Deepgram"
            ]
          },
          "model": {
            "type": [
              "string",
              "null"
            ],
            "description": "Model id within the vendor, or `null` for the vendor-wildcard row.",
            "examples": [
              "nova-3"
            ]
          },
          "benchmarked": {
            "type": "boolean",
            "description": "Whether the router has benchmark data for this entry. `false` entries are visible but cannot win selection — including them in `allowedProviders` without a benchmarked fallback will fail to route."
          }
        }
      },
      "KnownProviders": {
        "type": "object",
        "description": "Per-modality lists of allowlist-eligible entries. Each layer's array contains one vendor-wildcard row per known vendor plus one row per known (vendor, model) pair. Use the `id` field as the verbatim string for `allowedProviders`.",
        "required": [
          "stt",
          "llm",
          "tts"
        ],
        "properties": {
          "stt": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProviderModelEntry"
            }
          },
          "llm": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProviderModelEntry"
            }
          },
          "tts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProviderModelEntry"
            }
          }
        }
      },
      "SessionEntries": {
        "type": "object",
        "required": [
          "entries"
        ],
        "properties": {
          "entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SessionEntry"
            }
          },
          "nextCursor": {
            "type": "string",
            "nullable": true,
            "description": "Cursor to pass to the next call. Null/absent when there are no more pages."
          }
        }
      },
      "SessionEntry": {
        "type": "object",
        "required": [
          "sessionId",
          "createdAt"
        ],
        "properties": {
          "sessionId": {
            "type": "string",
            "format": "uuid"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "description": "Lifecycle status of the session."
          },
          "kind": {
            "type": "string",
            "description": "Session kind."
          },
          "pipelineConfig": {
            "type": "object",
            "description": "Snapshot of the pipeline config the session was minted with.",
            "properties": {
              "agentId": {
                "type": "string",
                "nullable": true,
                "description": "The agent the session was started against, if any. Filtered on by the `?agent=` query param."
              }
            }
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid bearer token.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "default": {
                "value": {
                  "error": "Unauthorized",
                  "code": "UNAUTHORIZED"
                }
              }
            }
          }
        }
      },
      "ValidationError": {
        "description": "Request body or query parameters failed validation.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "default": {
                "value": {
                  "error": "Invalid request body",
                  "code": "VALIDATION_ERROR"
                }
              }
            }
          }
        }
      },
      "InvalidAudio": {
        "description": "Empty body, missing/invalid `x-speko-intent` header, or malformed `x-speko-constraints`.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "default": {
                "value": {
                  "error": "Audio body is empty.",
                  "code": "INVALID_AUDIO"
                }
              }
            }
          }
        }
      },
      "TranscribeFailed": {
        "description": "No STT provider available for the intent, or every candidate failed.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "default": {
                "value": {
                  "error": "All providers failed",
                  "code": "TRANSCRIBE_FAILED"
                }
              }
            }
          }
        }
      },
      "SynthesizeFailed": {
        "description": "No TTS provider available for the intent, no default voice for chosen provider, or every candidate failed.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "default": {
                "value": {
                  "error": "All providers failed",
                  "code": "SYNTHESIZE_FAILED"
                }
              }
            }
          }
        }
      },
      "CompleteFailed": {
        "description": "No LLM provider available for the intent, or every candidate failed.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "default": {
                "value": {
                  "error": "All providers failed",
                  "code": "COMPLETE_FAILED"
                }
              }
            }
          }
        }
      },
      "SessionCreateFailed": {
        "description": "Token mint failed, agent dispatch failed, or DB insert failed.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "default": {
                "value": {
                  "error": "Failed to dispatch voice agent",
                  "code": "SESSION_CREATE_FAILED"
                }
              }
            }
          }
        }
      },
      "AgentNotFound": {
        "description": "No agent with this id exists in the authenticated organization.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "default": {
                "value": {
                  "error": "not found",
                  "code": "NOT_FOUND"
                }
              }
            }
          }
        }
      },
      "AgentNameConflict": {
        "description": "Another agent in the same organization already uses this name.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "default": {
                "value": {
                  "error": "Agent with this name already exists",
                  "code": "AGENT_NAME_CONFLICT"
                }
              }
            }
          }
        }
      },
      "AgentDeleteForbidden": {
        "description": "The seed `Default` agent for an organization cannot be deleted.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "default": {
                "value": {
                  "error": "Cannot delete the Default agent for this organization",
                  "code": "AGENT_DELETE_FORBIDDEN"
                }
              }
            }
          }
        }
      }
    }
  }
}
